/* CSS code*/

/* Global styles */
* {
  box-sizing: border-box; /* Applies border-box sizing model to all elements */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
}

html {
  scroll-behavior: smooth; /* Applies smooth scrolling globally */
}

body {
  font-family: "Arial", sans-serif; /* Sets the font family */
  background-color: #f8f9fa; /* Sets the background color */
  color: #343a40; /* Sets the text color */
  line-height: 1.6; /* Sets the line height */
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

/* Header styles */
header {
  background-color: #343a40; /* Sets the background color */
  color: white; /* Sets the text color */
  text-align: center; /* Aligns text to the center */
  padding: 0.3em 0; /* Sets padding */
  width: 100%; /* Sets the width */
  z-index: 1000; /* Sets the stack order */
  position: sticky; /*Sticky nav bar*/
  top: 0;
}

/* Navigation styles */
nav {
  display: flex; /* Displays navigation links in a row */
  justify-content: center; /* Aligns navigation links to the center */
  align-items: center; /* Centers navigation vertically */
}

nav a {
  color: white; /* Sets the text color */
  text-decoration: none; /* Removes underline */
  padding: 1em; /* Sets padding */
  margin: 0 15px; /* Sets margin */
  font-size: 1.2em; /* Sets font size */
  transition: color 0.3s ease; /* Adds transition effect */
}

nav a:hover {
  /* color: #ff0751; */
  color: #007bff;
}

/* Container styles */
.container {
  width: 80%; /* Sets the width */
  margin: 0 auto; /* Centers the container horizontally */
  max-width: 1200px; /* Sets the maximum width */
  text-align: center; /* Aligns text to the center */
}

/* Section styles */
.section {
  padding: 80px 20px 0 20px;
}

/* Heading styles */
h1,
h2,
h3 {
  color: #343a40; /* Sets the text color */
  margin-bottom: 20px; /* Sets bottom margin */
}

/* Home section styling */
#home {
  background-color: #343a40;
  color: #f8f9fa;
  text-align: center;
  padding: 40px 20px;
}

/* Heading styling */
h1 {
  font-size: 3em;
  color: #e9ecef;
  margin-bottom: 10px;
}

/* Subheading styling */
.lead {
  font-size: 1.25em;
  color: #adb5bd;
  margin-top: 0;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  #home {
    padding: 12px 10px;
  }
  h1 {
    font-size: 2em; /* Smaller heading on mobile */
  }

  .lead {
    font-size: 1em; /* Smaller subheading on mobile */
  }
}

/* About Me section styles */
.about-me img {
  max-width: 250px; /* Sets the maximum width */
  height: auto; /* Automatically adjusts height */
  border-radius: 8px; /* Adds border radius */
  margin-bottom: 20px; /* Sets bottom margin */
}

/* Skills section styles */
.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

/* Individual skill item styles */
.skill {
  flex: 1 1 calc(25% - 20px); /* Ensures skills take up space but allows wrapping */
  max-width: 250px;
  text-align: center;
  margin: 10px;
}

/* Skill name styles */
.skill-name {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #343a40;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skill-name::after {
  content: " (Learning)";
  font-size: 0.7em;
  color: #6c757d;
  margin-left: 5px;
  display: inline-block;
}

/* Progress bar container styles */
.progress-bar {
  background: #f1f1f1;
  border-radius: 12px;
  height: 25px;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  position: relative; /* Allows positioning of child elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Progress indicator styles */
.progress {
  background: linear-gradient(
    45deg,
    #007bff,
    #00d2ff
  ); /* Gradient background for progress */
  height: 100%; /* Sets height to fill the progress bar */
  width: 0%; /* Default width of progress indicator */
  border-radius: 12px 0 0 12px; /* Rounds left corners of the progress indicator */
  transition: width 0.6s ease, background 0.6s ease; /* Adds transition effect */
  position: relative; /* Allows positioning of pseudo-elements */
}

/* Pseudo-element for fixed text inside progress bar */
.progress-bar::after {
  content: attr(data-label); /* Use data attribute for label text */
  position: absolute; /* Absolute positioning */
  left: 50%; /* Center text horizontally */
  top: 50%; /* Center text vertically */
  transform: translate(-50%, -50%); /* Center text */
  color: #343a40; /* Dark gray text color */
  font-weight: bold; /* Makes text bold */
  font-size: 0.9em; /* Adjust text size */
  z-index: 1; /* Ensures text is above other elements */
  white-space: nowrap; /* Prevents text wrapping */
  pointer-events: none; /* Ensures text doesn’t block other interactions */
}

/* Projects section */
.projects {
  margin-bottom: 100px;
}

#projects-heading {
  font-size: 2rem;
}

/* Projects section styles */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Sets grid columns */
  gap: 20px;
  align-items: center;
}

.project {
  max-width: 300px;
  height: 500px;
  justify-self: center;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.project a {
  text-decoration: none;
  color: inherit;
}

.project a:visited {
  color: inherit;
}

.project h3,
.project p {
  transition: color 0.3s ease;
}

.project:hover h3,
.project:hover p {
  color: #007bff;
}

.project-imgs {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Coming soon projects */
#signup-form {
  margin: 20px auto;
  max-width: 400px;
  text-align: center;
}

#signup-form input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#signup-form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #343a40;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
}

#signup-form button:hover {
  background-color: #343a40c4;
}

/* Contact section styles */
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #343a40;
  width: 60%;
  margin: 80px auto 80px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* Media query for screens below 1100px */
@media (max-width: 1100px) {
  .contact {
    width: 90%;
    padding: 20px;
    flex-direction: column;
    gap: 30px;
  }
}

.contact-links h2 {
  font-size: 2rem;
}

.contact-links p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #495057;
}

.contact-links a {
  color: #007bffb4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.contact-links a:hover {
  color: #007bff;
}

.contact-form h2 {
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #343a40;
}

/* Form group styling */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
  color: #343a40;
}

/* Button styling */
.submit-btn {
  display: inline-block;
  padding: 12px 25px;
  background-color: #343a40;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #343a40c4;
}

/* Footer styles */
footer {
  text-align: center;
  padding: 2em 0;
  background-color: #343a40;
  color: white;
  font-size: 0.8rem;
}
